# IDE files
.vscode/settings.json

# python virtual environment
.venv/*
!.venv/.gitkeep

# python generated
__pycache__/

# keys and secrets
keys/
*rsa*

# generated content
generated/
Pipfile.lock
dist/
build/
*.egg-info
## unit test coverage
.coverage
htmlcov/
coverage.json